body{
    font-family: 'Poppins', sans-serif;  
    

}
h1{  
    font-size: 50px;
}
.hogwarts{
    display: flex;
    padding: 20px;
    image-rendering: auto;

}
span{
    color: rgb(189, 255, 6);
}
.harry{
   text-decoration: none;
   background-image: linear-gradient(rgb(140, 160, 27),rgb(6, 218, 16));
   padding: 10px;
   border-radius: 5px;
   font-weight: 700;
   color: #ffffff;
   
}