body{
    font-family: 'Poppins', sans-serif;  
    

}
h1{  
    font-size: 50px;
}
.hogwarts{
    display: flex;
    padding: 20px;
    image-rendering: auto;

}
span{
    color: rgb(255, 238, 6);
}
.harry{
   text-decoration: none;
   background-image: linear-gradient(rgb(140, 160, 27),rgb(6, 218, 16));
   padding: 10px;
   border-radius: 5px;
   font-weight: 700;
   color: #ffffff;
   }
   #mission{
   padding-left: 500px;
   }
   .mission-in{
       display:flex;
      }
      .div{
          width: 40%;
         box-shadow: 10px 10px 40px grey;
         margin-left: 4%;
         margin-right: 4%;
         padding-left: 20px;
         border-left: 7px solid;
         border-image: linear-gradient( rgb(125, 125, 255),cyan);
         border-image-slice: 1;
 }
      #box{
          width: 60%;
      }
      